#*#
*.aux
*.backup
*.core
*.dSYM
*.dvi
*.log
*.noopt
*.o
*.optimized
*.unsafe
*~
.DS_Store
.cproject
.deps
.gitcheckout
.goutputstream-*
.project
a.out
core*
tags
tags.*
typescript

evil
fib
heapsmash
heapsmashf
membench-*
mexplore
stacksmash
stacksmashf
testalignment
testalignment-gcd
testgc
testgc-[0-9][0-9]
testqs
testqs[0-9]
testsum
testsum-file
testsum-web
testsum-webtmp-*
